body {
    background-color: #F5F7F9;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

/*
    Header styles
*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.containerTitle{
    display: flex;
    width: auto;
}

.titleHeader    {
    color: #468FFE;
    font-family: lato, sans-serif;
    cursor: pointer;
    font-size: 3.5rem;
}

/* Navegación */
.nav-container {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-link {
    font-family: lato, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    color: #070707;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    margin-left: 20px;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #468FFE, #070707);
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #070707;
}

.nav-link:hover::after {
    width: 100%;
}

/*
    main styles
*/

/* Hero Section */
.containerHero{
    background-color: #468FFE;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

.containerTextHero{
    width: 50%;
    margin: 50px;
}

.titleHero{
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 3.5rem;
}

.textHero{
    font-family: 'Exo 2', sans-serif;
    color: #070707;
    font-size: 1.7rem;
    text-align: justify;
}

.imgHero{
    background-color: #FFFFFF;
    width: 250px;
    height: auto;
    border-radius: 20px;
    margin: 50px;

}

/* Hero 2 Section */
.containerHero2{
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.titleHero2{
    color: #070707;
    font-family: 'Exo 2', sans-serif;
    font-size: 3.5rem;
    position: relative;
    z-index: 1;
}

.titleHero2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px; /* distancia respecto al texto */
    width: 100%; /* ancho del subrayado */
    height: 10px;
    background-color: #7af08a; /* verde del subrayado */
    border-radius: 50px;
    transform: scaleX(1.1) skewX(-50deg); /* pequeña curva */
    z-index: -1;
  }

/* About me cards */
.containerCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.cardElement {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.cardTitle, .cardTitleSkill {
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
}

.imgIcon {
    width: 200px;
    height: 200px;
}

.cardText, .cardTextSkill {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
}

/* Skills Section */
.divTitleSkills{
    display: flex;
    justify-content: left;
    padding: 20px;
}

.titleSkills{
    position: relative;
    color: #070707;
    font-family: 'Exo 2', sans-serif;
    font-size: 3.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    z-index: 1;
}

.titleSkills::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px; /* distancia respecto al texto */
    width: 100%; /* ancho del subrayado */
    height: 10px;
    background-color: #7af08a; /* verde del subrayado */
    border-radius: 50px;
    transform: scaleX(1.1) skewX(-50deg); /* pequeña curva */
    z-index: -1;
  }

.containerCardsSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.cardSkill {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    filter: grayscale(100%);
    transition: filter 1s;
}

.cardSkill:hover {
    filter: grayscale(0%);
}

.divIconSkill{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgIconSkill {
    width: 100px;
    height: 100px;
}
